<ul class="nobull col2">
    <li><a href="#23-06">June 2023</a></li>
    <li><a href="#23-07">July 2023</a></li>
    <li><a href="#23-08">August 2023</a></li>
    <li><a href="#23-09">September 2023</a></li>
    <li><a href="#23-12">December 2023</a></li>
  </ul>

  <h2 id="#23-12">December 2023</h2>
  <ul>
    <li>First semester over.</li>
    <li>Started losing weight again.</li>
  </ul>
  <p>Ok, so this year was kinda tough, the job change was quite a shock. I am glad I did it because I no longer about my job because the business is slow, or the boss retiring, but the new one brought into my life new stress that I wasn't really able to deal with. I will probably try and give up one of my shifts in January. Time management has been dreadful since September, I've been too distracted. I had quite a lot of things still to do on the last week of the semester. This must change.</p>

  <p>I read a couple of books this year. I finished reading Frank Herbert's Dune series at the beginning of the year, and made a start on Dan Simmon's Hyperion Cantos.</p>

  <p>One good thing that I've gotten back into recently is healthy eating. In 3-4 months, my efforts should be noticeable, and since starting 4 weeks ago, I already feel better in my head. This time, once I get to a nice weight, I need to not get complacent.</p>

  <p>Oh, and I need to work on this website more frequently.</p>

  <h2 id="23-09">September 2023</h2>
  <ul>
    <li>College started again.</li>
    <li>Not yet fired from my job.</li>
    <li>Going to the gym with a friend.</li>
    <li>Took the bike out for a cycle, for the first time in a couple of years.</li>
  </ul>

  <h2 id="23-08">August 2023</h2>
  <ul>
    <li>Visited {Graemsay}.</li>
  </ul>

  <h2 id="23-07">July 2023</h2>
  <ul>
    <li>Thinking about what to do with this website.</li>
    <li>Fixing bugs (and introducing new ones).</li>
    <li>Got a new job.</li>
  </ul>

  <p>I have recently been researching about off-grid living. After my situation improves, it may be an idea worth considering. What do you live in? A caravan, shipping container, cave, a boat? Please email me if you have experience living off-grid, or know of good resources of information.</p>

  <p>As part of my Microsoft detoxification, I am now learning to use <a href="https://www.gnu.org/software/emacs/">Emacs</a>. It's about time I learn to use a proper editor.</p>

  <p>The job situation has changed for the better. It's so nice to finally have good news. I now feel better and more hopeful I can start to make progress with my goals.</p>

  <h2 id="23-06">June 2023</h2>
  <ul>
    <li>A simple script is building this site, needs more work as I learn how to do things better.</li>
    <li>Looking for a new job. Was invited to one interview.</li>
  </ul>

  <p>This is my first full month of not having Windows installed to my main computer. I was waiting for important emails at the end of May and spent a lot of time inside caring for my budgie. I made backups and installed <a href="https://gentoo.org">Gentoo Linux</a> onto the spare ssd. I've worked with Gentoo before on my old Thinkpad, and mostly knew what to do. Getting grub, the kernel, and disk encryption to work correctly was the only problem but I found a solution after taking a break for a few days.</p>

  <p>I had Debian on my old raspberry pi 3, but it now runs OpenSUSE Leap. I used the old Thinkpad to learn Gentoo several years ago and was able to use most of my notes to get my current setup working. Most of my desktop computing has been Windows based until now. I have tried Ubuntu (way back in version 7.04), Fedora, OpenSUSE, Debian on my older desktops but had driver problems. Early on, it was my laptop's wifi, later, my nvidia card was too old for the driver, scrolling and moving windows was very sluggish and looked ugly.</p>

  <p>Why Gentoo?</p>

  <p>I went with this distro because it kind of forces you to learn about Linux. I like computers and learning these things is fun to do, so it's not for everyone. There's good documentation on
    the <a href="https://wiki.gentoo.org/">wiki</a> and <a href="https://forums.gentoo.org/">forums</a>, and on the <a href="https://wiki.archlinux.org/">Arch wiki</a> for anything that's
    not Gentoo-specific.</p>

  <p>The unique feature of Gentoo is the USE flags, which allows customisation of the packages I install. Almost all packages must be compiled from source, and with the USE flags, you get a package that's different from what the other distros give you.</p>

  <p>If I ever replace Gentoo on my main rig, I would likely replace it with <a href="https://voidlinux.org/">Void Linux</a>. <a href="https://nixos.org/">NixOS</a> looks interesting, and might play around with it in a vm before considering that one.</p>
