<img src="../static/media/photos/travel/graemsay/13240.jpg">

<p>Graemsay is a small island located between Hoy and Stromness. I visited this island on 15th August 2023.</p>

<p>Right click, open in new tab to see the larger images.</p>

<div class="gallery">
  <img src="../static/media/photos/travel/graemsay/12835.jpg">
  <img src="../static/media/photos/travel/graemsay/12856.jpg">
  <img src="../static/media/photos/travel/graemsay/12862.jpg">
  <img src="../static/media/photos/travel/graemsay/12876.jpg">
  <img src="../static/media/photos/travel/graemsay/12885.jpg">
  <img src="../static/media/photos/travel/graemsay/12899.jpg">
  <img src="../static/media/photos/travel/graemsay/12904.jpg">
  <img src="../static/media/photos/travel/graemsay/12927.jpg">
  <img src="../static/media/photos/travel/graemsay/12934.jpg">
  <img src="../static/media/photos/travel/graemsay/12936.jpg">
  <img src="../static/media/photos/travel/graemsay/12942.jpg">
  <img src="../static/media/photos/travel/graemsay/12944.jpg">
  <img src="../static/media/photos/travel/graemsay/12950.jpg">
  <img src="../static/media/photos/travel/graemsay/12968.jpg">
  <img src="../static/media/photos/travel/graemsay/12975.jpg">
  <img src="../static/media/photos/travel/graemsay/12980.jpg">
  <img src="../static/media/photos/travel/graemsay/12982.jpg">
  <img src="../static/media/photos/travel/graemsay/13030.jpg">
  <img src="../static/media/photos/travel/graemsay/13033.jpg">
  <img src="../static/media/photos/travel/graemsay/13045.jpg">
  <img src="../static/media/photos/travel/graemsay/13048.jpg">
  <img src="../static/media/photos/travel/graemsay/13056.jpg">
  <img src="../static/media/photos/travel/graemsay/13062.jpg">
  <img src="../static/media/photos/travel/graemsay/13088.jpg">
  <img src="../static/media/photos/travel/graemsay/13109.jpg">
  <img src="../static/media/photos/travel/graemsay/13120.jpg">
  <img src="../static/media/photos/travel/graemsay/13124.jpg">
  <img src="../static/media/photos/travel/graemsay/13125.jpg">
  <img src="../static/media/photos/travel/graemsay/13162.jpg">
  <img src="../static/media/photos/travel/graemsay/13186.jpg">
  <img src="../static/media/photos/travel/graemsay/13192.jpg">
  <img src="../static/media/photos/travel/graemsay/13197.jpg">
  <img src="../static/media/photos/travel/graemsay/13198.jpg">
  <img src="../static/media/photos/travel/graemsay/13204.jpg">
  <img src="../static/media/photos/travel/graemsay/13230.jpg">
  <img src="../static/media/photos/travel/graemsay/13247.jpg">
  <img src="../static/media/photos/travel/graemsay/13251.jpg">
  <img src="../static/media/photos/travel/graemsay/13291.jpg">
  <img src="../static/media/photos/travel/graemsay/13311.jpg">
</div>
