<h2>Interests</h2>
<ul>
  <li><a target="_blank" href="https://flightradar24.com">flightradar24</a></li>
  <li><a target="_blank" href="https://flickr.com">Flickr</a></li>
  <li><a target="_blank" href="https://www.ravelry.com/">Ravelry</a></li>
  <li><a target="_blank" href="https://www.drbo.org/">Bible</a></li>
</ul>

<h2>People</h2>
<ul>
  <li><a target="_blank" href="http://4ch.mooo.com/">sparky4</a></li>
  <li><a target="_blank" href="https://censorine.com">censorine.com</a></li>
  <li><a target="_blank" href="https://estfyr.net/">Estfyr.net</a></li>
</ul>

<h2>Interesting pages</h2>
<ul>
  <li><a target="_blank" href="http://debofnight.andcuriouser.com/">deb of night</a></li>
</ul>

<h2>Boards</h2>
<ul>
  <li><a target="_blank" href="https://kind.moe/kind/">/kind/</a></li>
  <li><a target="_blank" href="https://anon.cafe/comfy/">/comfy/</a></li>
  <li><a target="_blank" href="https://late.city/late/">/late/</a></li>
  <li><a target="_blank" href="https://bus-stop.net/">BUS STOP</a></li>
</ul>

<h2>Software</h2>
<ul>
  <li><a target="_blank" href="https://gentoo.org">Gentoo Linux</a></li>
  <li><a target="_blank" href="https://keepassxc.org/">KeePassXC</a></li>
  <li><a target="_blank" href="https://github.com/gorhill/uBlock">uBlock Origin</a></li>
  <li><a target="_blank" href="https://github.com/AdguardTeam/AdGuardHome">AdGuard Home</a></li>
  <li><a target="_blank" href="https://mpv.io/">mpv</a></li>
</ul>
