<p>updates on projects, ideas, life.</p>

<ul>
  <li>last year: {2023}</li>
</ul>
<ul class="nobull col2">
  <li><a href="#24-01">january 2024</a></li>
  <li><a href="#24-02">february 2024</a></li>
  <li><a href="#20-08">august 2024</a></li>
</ul>

<h2 id="#24-08">august 2024</h2>
<ul>
  <li>suffering burnout</li>
  <li>started going to the gym</li>
</ul>
<p>i completed another year of my degree but what happened earlier in the year, in combination with my job, almost become too much for me to deal with and i was seriously considering dropping out. i kept going with both, had no energy and time to work on things that i wanted to do instead. i have lost almost all interest in the subject but putting an end to it after getting this far is probably a waste. i don't know. i'll be studying part-time from now on until i start to care more about the subject. i have also had a slight change of job, and more importantly, better working hours. i can wake up really early, go to work, get home and have a lot of the day remining. getting the most worst part of the day out of the way first has made me feel like i have a lot more free time. sadly, i've wasted most of that time and done not very much this summer.</p>

<p>one thing i'm excited about curently is improving my health and fitness. i signed up for a gym membership at the end of july and have been going three times a week. i've also gotten back into the habit of recording my nutrition, which is helping me lose weight. i don't really know what my goals are, i mostly want to lose some weight and feel better about myself. i can easly put on weight later if i decide i want the big muscles.</p>

<p>i've been in a creative rut for months. i've neglected this website, not been out to take many photos, or worked on anything else. time's mostly been wasted on games and work. i hoped to spend a lot of the summer working on coding up some ideas i have, improving or redoing the script that generates this site. i am now finally updating this page, have ideas for more pages, and feeling more positive about things generally.</p>

<p>i got a haircut.</p>

<h2 id="#24-02">february 2024</h2>
<ul>
  <li>finished reading the hyperion cantos. the shrike is a cool guy.</li>
  <li>searching.</li>
</ul>
<p>two friends from my old job invited me on a trip to one of the isles. i sort of acted as their guide, and we saw a mountain hare in its' winter coat. she nearly cried. next time, i will hopefully have acquired a long lens and the cloud level wont be as low.</p>
<div class="gallery">
  <img src="../static/media/photos/2024/14718.jpg">
  <img src="../static/media/photos/vlc/14717.jpg">
  <img src="../static/media/photos/travel/hoy/14699.jpg">
  <img src="../static/media/photos/travel/hoy/14638.jpg">
  <img src="../static/media/photos/travel/hoy/14553.jpg">
  <img src="../static/media/photos/travel/hoy/14550.jpg">
  <img src="../static/media/photos/travel/hoy/14543.jpg">
</div>

<h2 id="#24-01">january 2024</h2>
<ul>
  <li>added {website}.</li>
  <li>added some photos to {power} and {vlc}.</li>
  <li>will include selected photos with each month in these updates.</li>
</ul>
<div class="gallery">
  <img src="../static/media/photos/2024/14371.jpg">
  <img src="../static/media/photos/2024/14367.jpg">
  <img src="../static/media/photos/2024/14362.jpg">
  <img src="../static/media/photos/2024/14360.jpg">
  <img src="../static/media/photos/2024/14353.jpg">
  <img src="../static/media/photos/2024/14344.jpg">
  <img src="../static/media/photos/2024/14299.jpg">
  <img src="../static/media/photos/2024/14260.jpg">
  <img src="../static/media/photos/2024/14142.jpg">
</div>
