<p>This website is entirely static html pages hosted at <a target="_blank" href="https://neocities.org/site/seabreeze">Neocities</a>. I wrote a little ruby script that compiles the input text files into properly formed html files I that I then upload. I'm a beginner programmer and so if you notice anything wrong in my code, please let me know. The sources can be found at <a target="_blank" href="https://codeberg.org/shrike/wgen">Codeberg</a>, and you can open an <a target="_blank" href="https://codeberg.org/shrike/wgen/issues/new">issue</a> if you find bugs, or typos.</p>
